<script src="https://cdn.jsdelivr.net/npm/shaka-player@4.4.0/dist/shaka-player.compiled.js"></script>
<video id="video" controls autoplay></video>

<script>
const filename = "{{ filename }}";
const manifestUri = `/storage/encrypted_media/${filename}_stream.mpd`;

fetch(`/stream/api/get_key/${filename}`)
    .then(res => res.json())
    .then(data => {
        if (!data.key_id || !data.key) {
            alert("Không lấy được key");
            return;
        }

        const player = new shaka.Player(document.getElementById('video'));
        player.configure({
            drm: {
                clearKeys: {
                    [data.key_id]: data.key
                }
            }
        });

        player.load(manifestUri)
            .then(() => console.log("Phát thành công"))
            .catch(e => console.error("Lỗi phát", e));
    });
</script>
